@use '../../app.scss';

.message-title:hover {
  cursor: pointer;
  background-color: app.$white;
  color: app.$black;
}

.message-title-active {
  background-color: app.$white;
  color: app.$black;
}
