@use '../../app.scss';
@use '../../app.scss' as App;

.explorer-container {
  border: 1.5px app.$white solid;
  margin: 1rem 0 0;
}

.explorer-header {
  @include App.header-bar;
}

.file-list {
  color: app.$white;
  overflow-y: scroll;
  padding: 0 0.7rem;
  height: 10rem;
  font-size: 0.9rem;
  word-break: break-all;
  margin-top: 0.3rem;

  li {
    display: flex;
    align-items: flex-start;
    padding: 0.35rem 0;
  }
}

.message-type {
  font-weight: app.$font-weight-heavy;
  margin-right: 0.25rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  padding: 0 0.7rem;
  margin: 1rem 0 0;
}

.message {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.communicators {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  h5 {
    font-weight: app.$font-weight-black;
  }
}

.message-date {
  font-weight: app.$font-weight-black;
  font-size: 0.9rem;
}

.message-contents {
  font-size: 1rem;
}

.message-log-contents {
  word-break: break-all;
}

.message-title:hover {
  cursor: pointer;
  background-color: app.$white;
  color: app.$black;
}

.message-title-active {
  background-color: app.$white;
  color: app.$black;
}

.message-close-btn {
  border: 2px app.$white solid;
  padding: 0.5rem;
  background-color: app.$black;
  color: app.$white;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.message-close-btn:hover {
  cursor: pointer;
  background-color: app.$white;
  color: app.$black;
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 1024px) {
  .explorer-container {
    margin: 0;
  }

  .file-list {
    height: 10rem;
  }

  .message-container {
    height: 14rem;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 1201px) {
  .message-container {
    height: 17rem;
    overflow-y: scroll;
  }
}
