.btn {
  height: 75px;
  width: 75px;
  border-style: none;
}

.white {
  background-color: white;
}

.white:hover {
  opacity: 0.5;
  cursor: pointer;
}

.highlighted {
  animation: highlight 0.5s ease-in-out;
}

@keyframes highlight {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
