@use '../../app.scss';
@use '../../app.scss' as App;

.log-container {
  border: 1.5px app.$white solid;
}

.log-messages {
  color: app.$white;
  overflow-y: scroll;
  padding: 0 0.7rem;
  height: 10rem;
  font-size: 0.9rem;
}

.log-header {
  @include App.header-bar;
}

.log-list {
  list-style-type: none;

  li {
    display: flex;
    align-items: flex-start;
    padding: 0.35rem 0;
    &::before {
      margin-right: 0.5rem;
      content: '>';
    }
  }
}
