@use '../../app.scss';

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: app.$black;
  color: app.$white;
  height: 4rem;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
}

.data {
  font-weight: app.$font-weight-heavy;
}

.navbar-button {
  .save-icon {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
}

.navbar-button:hover {
  .save-icon {
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1201px) {
  .navbar {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.4rem;
  }
}
