@use '../../app.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: app.$black;
  color: app.$white;
  height: 4rem;
}

.data {
  font-weight: app.$font-weight-heavy;
}

.save {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-weight: app.$font-weight-heavy;
    font-size: 0.8rem;
  }
}
