@use '../../app.scss';

.navbar {
  position: fixed;
  left: 0%;
  width: 100%;
  margin: 0 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: app.$black;
  color: app.$white;
  height: 4rem;
}

.data {
  font-weight: app.$font-weight-heavy;
}

.navbar-button {
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;

  .save-icon {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
}

.navbar-button:hover {
  .save-icon {
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}
