@use '../../app.scss';
@use '../../app.scss' as App;

.resource-container {
  display: flex;
  flex-direction: column;
  border: 1.5px app.$white solid;
  margin: 1rem 0 0 0;
  height: 14rem;
}

.resource-header {
  @include App.header-bar;
}

.resource-data {
  @include App.data-layout;
}

.data-block {
  @include App.data-block;
}

.rectangle {
  @include App.rectangle;
}

.data-pair {
  @include App.data-pair;
}
