@use '../../app.scss';

.footer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  height: 3rem;
  width: 100vw;
  background-color: app.$black;
  z-index: 1;

  button {
    height: 3rem;
    width: 3rem;

    .nav-icon {
      transform: scale(1);
      transition: all 0.2s ease-in-out;
    }
  }

  button:hover {
    .nav-icon {
      transform: scale(0.9);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
  }
}

.alert {
  position: absolute;
  right: -15%;
  top: -10%;
}
