@use '../../app.scss';

.footer {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: app.$black;
  margin-top: auto;
  padding-bottom: 1rem;

  button {
    height: 3rem;
    width: 3rem;

    .nav-icon {
      transform: scale(1);
      transition: all 0.2s ease-in-out;
    }
  }

  button:hover {
    .nav-icon {
      transform: scale(0.9);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
  }
}

.alert {
  position: absolute;
  right: -15%;
  top: -10%;
}
